.x {
  /* display: flex; */
  border-color: rgb(231, 61, 216) ;
  margin-top: 9px; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px; 
  border: 0px solid transparent;
  background-color: rgba(237, 226, 226, 0.34);
  border-radius: 1.25em;
  transition: all 2s linear;
      
 }


 
 /* ----------------------------------------------- */


 .img {
  width: 190px; /* Cambia 200px al ancho deseado */
  height: 140px; /* Cambia 150px a la altura deseada */
  border-radius: 50% 25%
}
 .carta {
  color: #0aa5d4;
  font-size: small;
 /* position: relative; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.like{
  border-color: blueviolet ;
 margin-top: 7px; 
  font-size: 16px;
background-color: rgba(255, 255, 255, 0);
}



.carta .box {
  width: 17.875em;
  height: 25.9em;
  padding: 0.1rem;
  background-color: rgba(9, 11, 4, 0.074);
  border: 6px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: .7rem;
  transition: all ease .1s;
}



.carta .box .img {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0em
}

.carta .box div .card-name {
  display: block;
  margin-bottom: .2rem;
  font-size: 2em;
  letter-spacing: 0em;
}

.carta .box div .p {
  margin: 8;
  font-size: 1em;
  font-weight: 0;
  letter-spacing: 0em;
}

.carta .box div .gender {
  font-size: 1rem;
  font-weight: 30;
}
.carta {
  margin-top: 20px; /* Agrega margen en la parte superior de cada carta */
  /* Estilos de tu carta */
}

/* .carta .box div .gender:nth-child(3) {
  font-weight: 500;
  margin-right: .2rem;
} */

.carta .box:hover {
  box-shadow: 0px 0px 20px 1px rgb(213, 231, 203);
  border: 1px solid rgba(255, 255, 255, 0.992);
}
.card-name{
  font-family: fantasy;
  font-size: larger;
  color: rgb(220, 220, 220);
}
