

.x {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: em;
    border: 0px solid transparent;
    background-color: rgb(20, 20, 20);
    border-radius: 1.25em;
    transition: all 0.2s linear;
   }

   .x :hover {
    box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
     8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
     17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
     36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
     99px 72px 143px rgba(0, 0, 0, 0.08);
   }

   .tooltip {
    position: relative;
    display: inline-block;
   }

   .tooltip .tooltiptext {
    visibility: hidden;
    width: 4em;
    background-color: rgba(0, 0, 0, 0.253);
    color: #0d0d0d;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 110%;
   }

   .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0) transparent transparent;
   }

   .tooltip:hover .tooltiptext {
    visibility: visible;
   }

   /* ----------------------------------------------- */
  
 
   .img {
    width: 190px; /* Cambia 200px al ancho deseado */
    height: 140px; /* Cambia 150px a la altura deseada */
    border-radius: 50% 25%
  }
   .carta {
    color: #0d0d0d;
    font-size: small;
   /* position: relative; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }



  .carta .box {
    width: 17.875em;
    height: 25.9em;
    padding: 0.1rem;
    background-color: rgba(216, 18, 18, 0.074);
    border: 6px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: .7rem;
    transition: all ease .1s;
  }

 

  .carta .box .img {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0em
  }

  .carta .box div .card-name {
    display: block;
    margin-bottom: .2rem;
    font-size: 2em;
    letter-spacing: 0em;
  }

  .carta .box div .p {
    margin: 8;
    font-size: 1em;
    font-weight: 0;
    letter-spacing: 0em;
  }

  .carta .box div .gender {
    font-size: 1rem;
    font-weight: 30;
  }
  .carta {
    margin-top: 50px; /* Agrega margen en la parte superior de cada carta */
    /* Estilos de tu carta */
  }

  /* .carta .box div .gender:nth-child(3) {
    font-weight: 500;
    margin-right: .2rem;
  } */

  .carta .box:hover {
    box-shadow: 0px 0px 20px 1px wheat;
    border: 1px solid rgba(255, 255, 255, 0.992);
  }