.cartas-container {
  display: flex; /* Muestra los elementos en fila */
  flex-wrap: wrap; /* Permite que se envuelvan en múltiples filas si no caben en el ancho de la pantalla */
  justify-content: space-between;/* Espacio uniforme entre las cartas */
  gap: 30px;
  margin-top: 0px;
  
}

.selectOrden,
.selectFiltro {
  color: rgba(194, 74, 246, 0.641);
  background-color: #0b0b0b; /* Cambia el color de fondo según tus preferencias */
  padding: 10px; /* Añade espacio alrededor del select */
  border: 1px solid #ff3dc5; /* Añade un borde para resaltarlo */
  border-radius: 8px; /* Añade esquinas redondeadas */
 
  margin-top: 35px; /* Agrega espacio en la parte superior */
  margin-right: 9px; /* Margen derecho para separar los selects */
  margin-bottom: -40px; /* Agrega espacio debajo de los selects */
}

/* Quita el margen derecho del último select */
.selectFiltro {
  margin-right: 0;
}

/* Centra horizontalmente los selects en el espacio que tienen */
.cartas-container {
  display: flex;
  flex-direction: row; /* Coloca los selects en una fila horizontal */
  justify-content: flex-start; /* Alinea los selects a la izquierda */
  align-items: flex-start; /* Alinea los selects en la parte superior */
}