/* //BARRA DE NAVEGACION  */
.inputBox_container {
    position: fixed;
    top: 3.5%;
    left: 50%;
    transform: translate(-40%, -50%);
    display: flex;
    align-items: center;
    max-width: 18,5em;
    width: fit-content;
    height: fit-content;
    background-color: #010101;
    border-radius: 0.8em;
    overflow: hidden;
  }
  
  .search_icon {
    height: 1em;
    padding: 0 0.5em 0 0.8em;
    fill: #dc17b1;
  }
  /* para que el fondo sea trasparente del mismo color del buscador */
  .inputBox {
    background-color: transparent;
    color: #ffffff;
    
    width: 90%;
    border: 0;
    padding: 0.5em 0em 0.5em 1;
    font-size: 1em;
  }
   /* de las letras del buscador */
  ::placeholder {
    color: grey;
  }
  .btn{
    color: #ce2cbb;
    
  }