.contenedorPrincipal{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    
      margin: 0;
      height: 100vh; /* Asegura que el body tome todo el alto del viewport /
      display: flex;
      justify-content: center; / Centra los elementos hijos horizontalmente */
      align-items: center;
  }
  
  
  .contenedorPrincipal {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .contenedorAbout {
     display: flex;
     flex-direction: row;
     align-items: center;
     padding-top: 5rem;
     justify-content: center;
     align-items: center;
     width: 60%;
     height: 400px;
     background: transparent;
     border: 2px solid rgba(255, 255, 255, .2);
     backdrop-filter: blur(20px);
     box-shadow: 0 0 10px rgba(0, 0, 0, .2);
     color: white; 
     border-radius: 10px;
     padding: 30px 40px;
  }
  
  .box-img {
      width: 30%;
      max-height: 90%;
      border-radius: 10px;
      object-fit: cover;
      margin-right: 20px;
  }
  
  .contenedorText {
      font-family: 'Work Sans', sans-serif;
     width: 70%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding: 0 10px;
  }
  
  .contenedorAbout h1 {
      font-family: 'Work Sans', sans-serif;
      font-size: 28px;
      letter-spacing: 3px;
      font-weight: bold;
      margin: 15px 0 10px;
  }
  
  .contenedorAbout h2 {
      font-family: 'Work Sans', sans-serif;
      font-size: 18px;
      letter-spacing: 2px;
      font-weight: 100;
      margin-bottom: 15px; 
  }
  
  .contenedorAbout p {
      font-family: 'Work Sans', sans-serif;
      font-size: 16px;
      text-align: center;
  }
  
  
  .contenedorAbout ul {
      list-style: none;
      margin-top: 20px;
  }
  
  .contenedorAbout ul li {
      display: inline-block;
  }
  
  .contenedorAbout ul li a {
      color: white;
      font-size: 40px;
      padding: 10px 5px;
      transition: all 05s ease-in-out;
  }
  
  .contenedorAbout ul li a:hover{
      color: #b9b9b9;
      transform: scale(1.1);
  }