
.myCard {
   
    background-color: transparent;
    width: 100px;
    height: 254px;
    perspective: 1000px;
    position: absolute;
    left: 50%; /* Centra horizontalmente en relación al contenedor */
    top: 50%; /* Centra verticalmente en relación al contenedor */
    transform: translate(-50%, -100%); /* Corrige el centrado */
    /* Estilos para tu tarjeta */
    width: 300px; /* Ancho de tu tarjeta */
    height: 200px; /* Altura de tu tarjeta */
  }
  
  .title {
    font-size: 3.5em;
    font-weight: 90;
    text-align: center;
    margin: 5;
  }
  
  .innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
  }
  
  .myCard:hover .innerCard {
    transform: rotateY(180deg);
  }
  
  .frontSide,
  .backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 110%;
    height: 250%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(19, 30, 250, 0.5);
    font-weight: 700;
  }
  
  .frontSide,
  .frontSide::before {
    background: linear-gradient(43deg, rgb(65, 208, 132) 0%, rgb(80, 184, 200) 46%, rgb(220, 208, 35) 100%);
  }
  
  .backSide,
  .backSide::before {
    background-image: linear-gradient(160deg, #39f520 0%, #80D0C7 100%);
  }
  
  .backSide {
    transform: rotateY(180deg);
  }
  
  .frontSide::before,
  .backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;
  }
  
  @keyframes animate {
    9% {
      opacity: 0.3;
    }
  
    80% {
      opacity: 1;
    }
  
    100% {
      opacity: 0.3;
    }
  }