

.navBar{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}


.navBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}

.navBar button{
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  color: white;
  padding: 3px 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navBar button:hover{
  background-color: rgba(255, 255, 255, 0.5);
}
.navBar button a{
  text-decoration: none;
  color: inherit;
}


/* .navBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}*/


   button:hover {
    border-top: 1px solid blueviolet;
    border-left: 1px solid blueviolet;
    border-bottom: 1px solid rgb(238, 103, 238);
    border-right: 1px solid rgb(238, 103, 238);
    box-shadow: rgba(240, 46, 170, 0.4) 2px 2px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
   }

  .Boton1{
   
      position: fixed; /* Esto mantiene el botón fijo en la pantalla */
      bottom: 688px; /* Puedes ajustar la posición vertical */
      right: 190px; /* Puedes ajustar la posición horizontal */
    
  }
  .Boton2{
   
    position: fixed; /* Esto mantiene el botón fijo en la pantalla */
    bottom: 708px; /* Puedes ajustar la posición vertical */
    right: 900px; /* Puedes ajustar la posición horizontal */
  

}.Boton1{
   
  position: fixed; /* Esto mantiene el botón fijo en la pantalla */
  bottom: 708px; /* Puedes ajustar la posición vertical */
  right: 1000px; /* Puedes ajustar la posición horizontal */


}
